// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//


$brand: #eef5de;
$text:              #000;
$text-medium:       #000;
$text-light:        #000;

$border:            #b9bf15;

$link:              #b9bf15;
$link-hover:        darken($link, 20%);

$debates:           $brand;

